.right {
    display: flex;
    flex: 1;

    position: relative;


}

.right-trend {
    height: 95vh;
    width: 22.4%;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


    @media screen and (max-width: 1300px) {
        display: none;
    }
}

.right-header {
    height: 5rem;
    min-width: 22vw;
    position: fixed;
    top: 1%;
}

.Trending {
    display: flex;
    flex-direction: column;
    margin-left: 1.8rem;
    gap: 2rem;
    position: fixed;
    top: 10%
}

.Trending1 {
    background-color: rgb(240, 236, 236);
    height: 50vh;
    min-width: 22vw;
    border-radius: 15px;
}

.Trending2 {
    background-color: rgb(245, 241, 241);
    height: 32vh;
    border-radius: 15px;

}



.large-h {
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
    color: #000;

}




.searching {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    background-color: #ffff;





}

.search {
    padding: 1.5rem 12.5rem 1.5rem 5rem;
    border: none;
    outline: none;
    background-color: rgb(242, 244, 247);
    border-radius: 70px;

    @media screen and (max-width: 1500px) {
        padding: 1.5rem 11rem 1.5rem 5rem;

    }



}

.search-icon {
    transform: translate(4rem);
}


.small-details {
    width: auto;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1rem;
}



.small-h {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

}

.small-h5 {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}

.bootom2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 70px;
    cursor: pointer;
}

.bootom22 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 70px;
    cursor: pointer;

    @media screen and (max-width: 1100px) {
        display: none;
    }
}

.divide2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.fonte-divide2 {

    &--name {
        font-size: 15px;
        font-weight: 600;
        color: black;

        &:hover {
            text-decoration: underline;
        }

    }

    &--name2 {
        font-size: 12px;
        font-weight: 500;
        color: rgb(110, 109, 109);

    }
}

.last-buttons2 {
    padding: 3px 21px 3px 21px;
    font-size: 20px;
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 80px;
    outline: none;
    list-style: none;
    font-family: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: black;
    margin-left: -1rem;
    text-align: center;
    cursor: pointer;
    display: flex;

    &--1 {
        font-size: 14px;
        font-weight: 500;
        color: #ffff;
        text-decoration: none
    }

    &:hover {
        background-color: #464747;
    }
}

.show {
    font-size: 15px;
    font-weight: 400;
    color: #00acee;
    text-decoration: none;
    margin-bottom: 10px;
    padding-left: 1.5rem;


    &:hover {
        color: #66ccf5;
        text-decoration: underline;

    }
}